.input-field {
  width: 50%;
}

.submit-button {
  margin-top: 10px;
}

#results {
  margin-top: 50px;
}

.product {
  position: relative;
  margin: 5px 5px 5px 5px;
  text-align: center;
  height: 200px;
  background-color: lightblue;
  width: 30%;
  display: inline-block;
  border: 1px solid black;
}

.type {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 5px 5px 5px 5px;
}
